.slider {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	transition: top 0.5s ease;
	overflow: hidden;
	z-index: 999;
	margin-top: 50px;
}

.slider.visible {
	top: 0;
}