body {
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

main {
  display: flex;
  height: calc(100vh - 75px);
}

.btn {
  background-color: #222;
  color: #bababa;
}

.btn:hover {
  background-color: #bababa;
}

.btn-success {
  border-color: #4fc780;
  color: #bababa;
}

.btn-success:hover {
  border-color: #4fc780;
  background-color: #4fc780;
  color: #222;
}

.btn-danger {
  border-color: #c23737;
  color: #bababa;
}

.btn-danger:hover {
  border-color: #c23737;
  background-color: #c23737;
  color: #222;
}